<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{tasks.title}"></title>
</head>
<body>
<header th:replace="header"></header>
<main>
    <h1 th:text="#{tasks.h1}"></h1>
    <div th:if="${not #lists.isEmpty(tasks)}">
        <ul>
            <li th:each="task: ${tasks}">
                <a th:href="'/tasks/' + ${task.id}" th:text="${task.title} + #{due} + ${task.deadline}"></a>
            </li>
        </ul>
    </div>
    <div th:if="${#lists.isEmpty(tasks)}">
        <p th:text="#{tasks.empty}"></p>
    </div>
    <a sec:authorize-url="/tasks/new" th:href="@{/tasks/new}"  th:text="#{tasks.add}"></a>
</main>
</body>
</html>




